
/* :root{
--line--border-fill:#349adb
--line--border-empty:#349adb */


*{
  box-sizing: border-box;  
}
body{
    background-color: #ebecf1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  
}
.container{
    text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
    max-width: 100%;
    width: 350px;
}
.progress{
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4%;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}
.circle{
    background-color: #fff;
    color: #999;
    border-radius:50% ;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0 ;
    transition: .4 ease;
}
.circle.active{
    border-color:#349adb ;
}
.progress-container::before{
    content: "";
    background-color:#e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4%;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease;
}
.btn{
 background-color: #349adb;
 color: #fff;
 border-radius: 6px;
 cursor: pointer;
 font-family: inherit;
 padding: 8 px 30px;
 margin: 5px;
 font-size: 14px;
}
.btn:active{
  transform: scale(0.98);  
}
.btn:focus{
    outline: 0;
}
.btn:disabled{
 
 background-color:rgb(245, 236, 236) ; 
 cursor: not-allowed;
   
}
